.result {
    display: flex;
    flex-direction: column;
    background-color: #16191d;
    border: 1px solid #2f3336;
    margin: 10px;
    padding: 5px;
    width: 95%;
}

.result a {
    align-self: flex-end;
}